# Class Project Session 6 - Input/Output

In this Jupyter notebook you will find a series of exercise to solve. Please write the solution code in the cells specified for that purpose. In some exercises you may find some of the information needed in code. Please remember to run these cells (Shift+Enter) when you proceed to solve the exercise.

1. Create a new text file named 'first_text.txt'. Write, in the first line of such text file your name and last names. Remember to close the file when finished.

In [1]:
texto = 'Luis Sastre'

In [2]:
fichero = open('first_text.txt', 'w')

In [3]:
fichero.write(texto)

11

In [4]:
fichero.close()

In [5]:
del(fichero)

2. Open the previous file again and add a second line to the end of the .txt with the current date as in 'January, 24th, 2018'. Again, remember to close the file when finished.

In [6]:
texto = "\nin January, 24th, 2018"

In [7]:
fichero = open("first_text.txt", "a")

In [8]:
fichero.write(texto)

23

In [9]:
fichero.close()

In [10]:
del(fichero)

3. Write a program that asks the user for her/his name and the current date. Then, store the information in a single line in a new text file named 'second_text.txt'. The line in the text file should read like: 'I am ```Name```, and today is ```Date```'. Close the file.

In [18]:
name = input("Introduce tu nombre: ")
date = input("Introduce la fecha de hoy: ")

texto = f"I am {name}, and today is {date}"

fichero2 = open("second_text.txt", "w")
fichero2.write(texto)
fichero2.close()

Introduce tu nombre: Luis
Introduce la fecha de hoy: 03/04/2020

4. Open the file created in exercise 3 and read its contents. Print them on the screen.

In [19]:
with open("second_text.txt", "r") as fichero:
    for linea in fichero:
        print(linea)

I am Luis, and today is 03/04/2020

In [20]:
fichero.close()
del(fichero)

5. Create a program that asks the user the date of birth. Store this information on a new line at the end of the previous text file ('second_text.txt'). Remember to close the file.

In [21]:
date = input("Introduce tu fecha de nacimiento: ")
texto = f"\nMi fecha de nacimiento es el {date}"

fichero = open("second_text.txt", "a")
fichero.write(texto)
fichero.close()
del(fichero)

Introduce tu fecha de nacimiento: 03/01/1993

6. Read the previous file and print its contents on the screen (and then close it!).

In [22]:
with open("second_text.txt", "r") as fichero:
    for linea in fichero:
        print(linea)

I am Luis, and today is 03/04/2020

Mi fecha de nacimiento es el 03/01/1993

In [23]:
fichero.close()

7. [This data](https://www.fdic.gov/bank/individual/failed/banklist.html) from the Federal Deposit Insurance Corporation (FDIC) contains the information on failed banks in the U.S. since 2001 in HTML format. Use the ```pandas``` library to read data from this source. Preview the results and notice that the table we are interested in is the first object (index = 0). Store the information in a data frame called ```data```.

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("../Librerias/Data/banklist.csv", encoding='utf-8')

In [4]:
data.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date'],
      dtype='object')

8. Export the content of the first object in ```data``` to an Excel workbook. Name the Excel file 'fdic.xlsx' and the sheet 'Failed Banks'. Also, use no index when exporting.

In [5]:
data.to_excel("../Librerias/Data/fdic.xlsx")

9. Read the previously saved Excel file. Is the data alright? Preview it.

In [6]:
newdata = pd.read_excel("../Librerias/Data/fdic.xlsx")

In [7]:
newdata

,Unnamed: 0,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,0,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20
1,1,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19
2,2,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19
3,3,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19
4,4,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19
5,5,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17
6,6,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17
7,7,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17
8,8,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17
9,9,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17
10,10,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17
11,11,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17
12,12,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17
13,13,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16
14,14,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16
15,15,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16
16,16,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16
17,17,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,11-Mar-16
18,18,Hometown National Bank,Longview,WA,35156,Twin City Bank,2-Oct-15
19,19,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,2-Oct-15
20,20,Premier Bank,Denver,CO,34112,"United Fidelity Bank, fsb",10-Jul-15
21,21,Edgebrook Bank,Chicago,IL,57772,Republic Bank of Chicago,8-May-15
22,22,Doral Bank,San Juan,PR,32102,Banco Popular de Puerto Rico,27-Feb-15
23,23,Capitol City Bank & Trust Company,Atlanta,GA,33938,First-Citizens Bank & Trust Company,13-Feb-15
24,24,Highland Community Bank,Chicago,IL,20290,"United Fidelity Bank, fsb",23-Jan-15
25,25,First National Bank of Crestview,Crestview,FL,17557,First NBC Bank,16-Jan-15
26,26,Northern Star Bank,Mankato,MN,34983,BankVista,19-Dec-14
27,27,"Frontier Bank, FSB D/B/A El Paseo Bank",Palm Desert,CA,34738,"Bank of Southern California, N.A.",7-Nov-14
28,28,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,24-Oct-14
29,29,NBRS Financial,Rising Sun,MD,4862,Howard Bank,17-Oct-14
...,...,...,...,...,...,...,...
530,530,"ANB Financial, NA",Bentonville,AR,33901,Pulaski Bank and Trust Company,9-May-08
531,531,Hume Bank,Hume,MO,1971,Security Bank,7-Mar-08
532,532,Douglass National Bank,Kansas City,MO,24660,Liberty Bank and Trust Company,25-Jan-08
533,533,Miami Valley Bank,Lakeview,OH,16848,The Citizens Banking Company,4-Oct-07
534,534,NetBank,Alpharetta,GA,32575,ING DIRECT,28-Sep-07
535,535,Metropolitan Savings Bank,Pittsburgh,PA,35353,Allegheny Valley Bank of Pittsburgh,2-Feb-07
536,536,Bank of Ephraim,Ephraim,UT,1249,Far West Bank,25-Jun-04
537,537,Reliance Bank,White Plains,NY,26778,Union State Bank,19-Mar-04
538,538,Guaranty National Bank of Tallahassee,Tallahassee,FL,26838,Hancock Bank of Florida,12-Mar-04
539,539,Dollar Savings Bank,Newark,NJ,31330,No Acquirer,14-Feb-04
540,540,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,14-Nov-03
541,541,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,9-May-03
542,542,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03
543,543,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,17-Dec-02
544,544,Bank of Alamo,Alamo,TN,9961,No Acquirer,8-Nov-02
545,545,AmTrade International Bank,Atlanta,GA,33784,No Acquirer,30-Sep-02
546,546,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,27-Jun-02
547,547,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,26-Jun-02
548,548,New Century Bank,Shelby Township,MI,34979,No Acquirer,28-Mar-02
549,549,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02
550,550,"NextBank, NA",Phoenix,AZ,22314,No Acquirer,7-Feb-02
551,551,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02
552,552,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02
553,553,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02
554,554,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01
555,555,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01
556,556,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01
557,557,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01
558,558,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00
559,559,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00

10. Finally, save a copy of the same data to a CSV file. Take a moment to check the differences between an Excel file and a CSV file.

In [8]:
newdata.to_csv("../Librerias/Data/fdic.csv")

In [9]:
newdata1 = pd.read_csv("../Librerias/Data/fdic.csv")

In [10]:
newdata1

,Unnamed: 0,Unnamed: 0.1,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,0,0,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20
1,1,1,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19
2,2,2,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19
3,3,3,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19
4,4,4,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19
5,5,5,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17
6,6,6,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17
7,7,7,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17
8,8,8,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17
9,9,9,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17
10,10,10,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17
11,11,11,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17
12,12,12,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17
13,13,13,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16
14,14,14,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16
15,15,15,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16
16,16,16,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16
17,17,17,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,11-Mar-16
18,18,18,Hometown National Bank,Longview,WA,35156,Twin City Bank,2-Oct-15
19,19,19,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,2-Oct-15
20,20,20,Premier Bank,Denver,CO,34112,"United Fidelity Bank, fsb",10-Jul-15
21,21,21,Edgebrook Bank,Chicago,IL,57772,Republic Bank of Chicago,8-May-15
22,22,22,Doral Bank,San Juan,PR,32102,Banco Popular de Puerto Rico,27-Feb-15
23,23,23,Capitol City Bank & Trust Company,Atlanta,GA,33938,First-Citizens Bank & Trust Company,13-Feb-15
24,24,24,Highland Community Bank,Chicago,IL,20290,"United Fidelity Bank, fsb",23-Jan-15
25,25,25,First National Bank of Crestview,Crestview,FL,17557,First NBC Bank,16-Jan-15
26,26,26,Northern Star Bank,Mankato,MN,34983,BankVista,19-Dec-14
27,27,27,"Frontier Bank, FSB D/B/A El Paseo Bank",Palm Desert,CA,34738,"Bank of Southern California, N.A.",7-Nov-14
28,28,28,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,24-Oct-14
29,29,29,NBRS Financial,Rising Sun,MD,4862,Howard Bank,17-Oct-14
...,...,...,...,...,...,...,...,...
530,530,530,"ANB Financial, NA",Bentonville,AR,33901,Pulaski Bank and Trust Company,9-May-08
531,531,531,Hume Bank,Hume,MO,1971,Security Bank,7-Mar-08
532,532,532,Douglass National Bank,Kansas City,MO,24660,Liberty Bank and Trust Company,25-Jan-08
533,533,533,Miami Valley Bank,Lakeview,OH,16848,The Citizens Banking Company,4-Oct-07
534,534,534,NetBank,Alpharetta,GA,32575,ING DIRECT,28-Sep-07
535,535,535,Metropolitan Savings Bank,Pittsburgh,PA,35353,Allegheny Valley Bank of Pittsburgh,2-Feb-07
536,536,536,Bank of Ephraim,Ephraim,UT,1249,Far West Bank,25-Jun-04
537,537,537,Reliance Bank,White Plains,NY,26778,Union State Bank,19-Mar-04
538,538,538,Guaranty National Bank of Tallahassee,Tallahassee,FL,26838,Hancock Bank of Florida,12-Mar-04
539,539,539,Dollar Savings Bank,Newark,NJ,31330,No Acquirer,14-Feb-04
540,540,540,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,14-Nov-03
541,541,541,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,9-May-03
542,542,542,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03
543,543,543,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,17-Dec-02
544,544,544,Bank of Alamo,Alamo,TN,9961,No Acquirer,8-Nov-02
545,545,545,AmTrade International Bank,Atlanta,GA,33784,No Acquirer,30-Sep-02
546,546,546,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,27-Jun-02
547,547,547,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,26-Jun-02
548,548,548,New Century Bank,Shelby Township,MI,34979,No Acquirer,28-Mar-02
549,549,549,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02
550,550,550,"NextBank, NA",Phoenix,AZ,22314,No Acquirer,7-Feb-02
551,551,551,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02
552,552,552,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02
553,553,553,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02
554,554,554,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01
555,555,555,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01
556,556,556,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01
557,557,557,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01
558,558,558,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00
559,559,559,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00